{% extends './template.html' %}

<!-- 
    <div class="main">
        <form method="post">
            {% csrf_token %}
            {% for field in p_form %}
                <div>
                    {{ field.errors }}
                    {{ field }}
                </div>
            {% endfor %}

            <input type="text" name="last_university" id="last_university" placeholder="آخرین دانشگاه محل تحصیل">
            <select name="grade" id="grade" required>
                <option value="مربی">مربی</option>
                <option value="استادیار">استادیار</option>
                <option value="دانشیار">دانشیار</option>
                <option value="استاد تمام">استاد تمام</option>
            </select>
            
            <label for="group">گروه آموزشی</label>
            <select name="group" id="group" required>
                {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.title }}</option>
                {% endfor %}
            </select>
    
                
            <button type="submit">submit</button>

        </form>
    </div>
-->    


{% block content %}
    
    
    <div class="main">
        <form method="post">
            {% csrf_token %}
            <input type="text" name="first_name" id="id_first_name" placeholder="نام" required>
            {{ p_form.first_name.errors }}
            <input type="text" name="last_name" id="id_last_name" placeholder="نام خانوادگی" required>
            {{ p_form.last_name.errors }}
            <input type="text" name="username" id="id_username" placeholder="(کد پرسنلی) نام کاربری" required>
            {{ p_form.username.errors }}
            <input type="text" name="n_code" id="id_n_code" placeholder="کدملی" required>
            {{ p_form.n_code.errors }}
            <input type="email" name="email" id="id_email" placeholder="ایمیل" required>
            {{ p_form.email.errors }}
            <input type="tel" id="phone" name="id_phone" pattern="+98-[0-9]{3}-[0-9]{7}" placeholder="+989100000000" required>
            {{ p_form.phone.errors }}
            <select name="gender" id="gender" required>
                <option value="0">خانم</option>
                <option value="1">آقا</option>
                <option value="2">سایر</option>
            </select>

            <input type="text" name="last_university" id="last_university" placeholder="آخرین دانشگاه محل تحصیل" required>
            <select name="grade" id="grade" required>
                <option value="مربی">مربی</option>
                <option value="استادیار">استادیار</option>
                <option value="دانشیار">دانشیار</option>
                <option value="استاد تمام">استاد تمام</option>
            </select>
            
            <label for="group">گروه آموزشی</label>
            <select name="group" id="group" required>
                {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.title }}</option>
                {% endfor %}
            </select>
    
                
            <button type="submit">submit</button>
        </form>
    
    </div>

{% endblock content %}
