{% extends './template.html' %}


{% block content %}
    
    
    <div class="main">
        <form method="post">
            {% csrf_token %}
            <input type="text" name="first_name" id="first_name" placeholder="نام" required>
            {{ form.first_name.errors }}
            <input type="text" name="last_name" id="last_name" placeholder="نام خانوادگی" required>
            {{ form.last_name.errors }}
            <input type="text" name="username" id="username" placeholder="(شماره دانشجویی) نام کاربری" required>
            {{ form.username.errors }}
            <input type="text" name="n_code" id="n_code" placeholder="کدملی" required>
            {{ form.n_code.errors }}
            <input type="email" name="email" id="email" placeholder="ایمیل" required>
            {{ form.email.errors }}
            <input type="tel" id="phone" name="phone" pattern="+98-[0-9]{3}-[0-9]{7}" placeholder="+989100000000" required>
            {{ form.phone.errors }}
            <select name="gender" id="gender" required>
                <option value="0">خانم</option>
                <option value="1">آقا</option>
                <option value="2">سایر</option>
            </select>

            <div>
                <p>دانشجو روزانه <input type="checkbox" name="is_daily" id="is_daily" value="True"> </p>
            </div>
            
            <label for="orientation">گروه آموزشی</label>
            <select name="orientation" id="orientation" >
                {% for orientation in orientations %}
                    <option value="{{ orientation.id }}"> {{ orientation.title }} <option>
                {% endfor %}
            </select>
    
                
            <button type="submit">submit</button>
        </form>
    
    </div>

{% endblock content %}
