<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/bootstrap.rtl.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}?version=56">
		<link rel="stylesheet" href="{% static 'css/more.css' %}">
		<link rel="stylesheet" href="{% static 'css/persian-datepicker.css' %}">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<title>Document</title>
	</head>
	<body>
		<div class="grid">

			<header class="header">
				<i id="menu_toggle" class="fas fa-bars header__menu"></i>
			</header>

			<aside class="sidenav">
				<div class="sidenav__brand">
					<i class="fas fa-times sidenav__brand-close"></i>
					<p>سامانه تحصیلات تکمیلی</p>
				</div>
				<div class="sidenav__profile">
					<div class="sidenav__profile-title text-light">کارمند {{ request.user.username }}</div>
				</div>
				<div class="row row--align-v-center row--align-h-center">
                            <div class="row row--align-v-center row--align-h-center">
                              <ul class="navList">
                                <li class="navList__heading">درخواست ها<i class="far fa-paper-plane"></i></li>
                                <li>
                                  <div class="item-title">
                                    <span class="navList__subheading-title">اخذ دانشجو دکترا</span>
                                  </div>
                                  <div class="item-title">
                                    <span class="navList__subheading-title">اخذ دانشجو ارشد</span>
                                  </div>
                              </li>

                  
                              <li class="navList__heading">ثبت<i class="far fa-plus"></i></li>
                                <li>
                                  <div class="item-title">
                                    <span class="navList__subheading-title"><a href="{% url 'staff:add_group' %}">گروه</a></span>
                                  </div>
                                  <div class="item-title">
                                    <span class="navList__subheading-title"><a href="{% url 'staff:add_professor' %}">استاد</a></span>
                                  </div>
								  <div class="item-title">
                                    <span class="navList__subheading-title"><a href="{% url 'staff:add_orientation' %}">گرایش</a></span>
                                  </div>
								  <div class="item-title">
                                    <span class="navList__subheading-title"><a href="{% url 'staff:add_student' %}">دانشجو</a></span>
                                  </div>
                              </li>
                              
      
                              <hr>
                  
                              <li class="logout-item">                                  
                                <a href="{% url 'system:logout' %}">خروج</a>
								<i class="fa fa-sign-out"></i>
                              </li>

                  
                          </ul>
                          </div>
                  

				</div>
			</aside>
      {% if messages %}
      <div id="alert">
          <div class="alert">
              {% for message in messages %}
              <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>
                  {{ message }}
              </div>
              {% endfor %}
          </div>
      </div>
      {% endif %} 

				{% block content %}{% endblock content %}

		</div> 

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="{% static 'js/persian-datepicker.js' %}"></script>
		<script src="{% static 'js/persian-date.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
	</body>
</html>