
        <aside class="sidenav">
            <div class="sidenav__brand">
                  <a href="#">پیشخوان خدمات دولت </a>
                  <i class="fas fa-times sidenav__brand-close"></i>
              
            </div>
            <div class="sidenav__profile">
              <div class="sidenav__profile-avatar"></div>
              <div class="sidenav__profile-title text-light">اوپراتور ۱۲۳</div>
            </div>
            <div class="row row--align-v-center row--align-h-center">
              <ul class="navList">
                <li class="navList__heading">کارت ملی<i class="far fa-file-alt"></i></li>
                <li>
                  <div class="item-title">
                    <span class="navList__subheading-title">ثبت نام</span>
                  </div>
                  <div class="item-title">
                    <span class="navList__subheading-title">استعلام</span>
                  </div>
              </li>
              
              <li class="navList__heading">گذرنامه<i class="far fa-file-alt"></i></li>
                <li>
                  <div class="item-title">
                    <span class="navList__subheading-title">ثبت نام</span>
                  </div>
                  <div class="item-title">
                    <span class="navList__subheading-title">استعلام</span>
                  </div>
              </li>
              
  
              <li class="navList__heading">گواهینامه<i class="far fa-file-alt"></i></li>
                <li>
                  <div class="item-title">
                    <span class="navList__subheading-title">ثبت نام</span>
                  </div>
                  <div class="item-title">
                    <span class="navList__subheading-title">استعلام</span>
                  </div>
              </li>
              
  
              <li class="navList__heading">خلافی خودرو<i class="far fa-file-alt"></i></li>
                <li>
                  <div class="item-title">
                    <span class="navList__subheading-title">استعلام</span>
                  </div>
              </li>
              <hr>
  
              <li class="exit_item" >
                      خروج<i class="fa fa-sign-out"></i>
              </li>
  
  
              <!-- <div class="footer">
                  <p>صادق ایپکی جو</p><br>
                  <p>مصطفی مرادی</p><br>
              </div> -->
          </ul>
          </div>
  
          </aside>