{% extends './template.html' %}



{% block page_title %}
	گروه ها
{% endblock page_title %}
	


{% block panel_title %}
	لیست گروه های موجود در دانشکده {{ request.user.stafffields.college.title }}
{% endblock panel_title %}
	

{% block content %}
	<div class="x_content">
		<table class="table table-dark mt-5">
			<thead>
				<tr>
					<th scope="col" style="color: aquamarine;">عنوان</th>
					<th scope="col" style="color: aquamarine;">مدیر گروه</th>
					<th scope="col" style="color: aquamarine;">اساتید</th>
					<th scope="col" style="color: aquamarine;">گرایش ها</th>
					<th scope="col" style="color: aquamarine;">دانشجویان</th>
					<th scope="col" style="color: aquamarine;"></th>
				</tr>
			</thead>
			{% for group in groups %}
				<tr>
					<th scope="col"><p>{{ group.title }}</p></th>
					
					{% if group.has_admin %}
						<th scope="col">دکتر {{ group.adminstrator.professor.first_name }} {{ group.adminstrator.professor.last_name }}</th>				
					{% else %}
						<th scope="col"><a href="{% url 'staff:set_group_admin' id=group.id %}"><button class="btn btn-danger" title="مدیر گروه را تعیین کنید">تعیین مدیر گروه</button></a></th>
					{% endif %}
					<th scope="col"><a href="{% url 'staff:group_professor_list' id=group.id %}"><button class="btn btn-primary">اساتید</button></a></th>
					<th scope="col"><a href="{% url 'staff:group_orientation_list' id=group.id %}"><button class="btn btn-primary">گرایش ها</button></a></th>
					<th scope="col"><a href="{% url 'staff:group_student_list' id=group.id %}"><button class="btn btn-primary">دانشجویان</button></a></th>
					<th scope="col">
						<a href="{% url 'staff:edit_group' id=group.id %}" title="ویرایش"><i class="far fa-edit"></i></a>
						<a href="{% url 'staff:delete_group' id=group.id %}" title="حذف"><i class="far fa-trash"></i></a>
					</th>
				</tr>
			{% endfor %}
		</table>
	
	</div>

    
{% endblock content %}
    