<div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="تنظیمات">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="تمام صفحه" onclick="toggleFullScreen();">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="قفل" class="lock_btn">
        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="خروج" href="{% url 'system:logout' %}">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
</div>
